{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{%block styles%}
{%bootstrap_css%}
<link rel="stylesheet" href="{%static 'css/index.css'%}">
<script src="{%static 'js/search.js'%}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function myFunction(x) {
    x.classList.toggle("fa-thumbs-down");
  }
 
  $('#modalform').submit(function (e) {
    e.preventDefault();
    
   });
  </script>

{%endblock%}

{% block content %}
{{block.super}}
{% include "navbar.html" %}
<div class="container">
<!-- Looping through images   -->
<!-- {%for p in pr%}
{{p.profile.profile_pic.url}}
<img src="{{p.profile.profile_pic.url}}" alt="{{ images.user.username }} profile image">
{%endfor%}-->
{% for images in image %} 

<div class="card" style="width: 45rem;">
  <div class="card-body">
    
    <img class='img' src="{{images.profile.profile_pic.url}}" alt="{{ images.user.username }} profile image">    <h5 class="card-title">{{ images.user.username }}</h5>

    
    
  </div>
  
  <img class="img-thumbnail  " src="{{images.image.url}}" alt="Card image cap">
  <i onclick="myFunction(this)" class="fa fa-thumbs-up" style="text-align: center;"></i>
  <div class="card-body">
    <h5 class="card-title">{{ images.image_name }}</h5>
    <p class="card-text">{{images.image_caption|safe}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <a class="btn btn-info btn-lg" href="{%url 'new_comment' images_id=images.id %}">NEW_COMMENT{{images.id}}</a>

    <!-- modal -->
    
    <form method="GET" action="#myModal" data-toggle="modal" role="button" >
      
      <button class="btn btn-info btn-lg"  data-toggle="modal" data-target="#myModal" type="url" value="{{images.id}}" name="comments_image_id">Comments</button>
    
      <input type="text" value="{{images.id}}" name="comments_image_id" hidden size="1"/>
    </form>
    
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">comments</h4>
          </div>
          <div class="modal-body">
            <ul>
              {%for comment in comentdsd%}
              <li>
                
                <p>{{comment|safe}}</p>
                
              </li>
              {%endfor%}
            </ul>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

  </ul>

  <div class="card-footer text-muted">
    <p>Posted-On:{{images.pub_time}}</p>
  </div>
</div>
  
<div class="row">
  <!-- displaying News articles -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h2 class="text-center">  </h2>-   
  </div>
</div>

{% empty %}
<div class="row">
  <h2 class="text-center">There No Images</h2>
</div>
</div>
{% endfor %}

{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  function myFunction(x) {
    x.classList.toggle("fa-thumbs-down");
  }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  
  $('#modalform').submit(function (e) {
      
    });
</script>

{% bootstrap_javascript %} 
{% endblock%}