<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color:lightseagreen; font-size: 40px;"  >INSTA-CLONE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="color:lightseagreen; font-size: medium;">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- ***********AUTHENTICATED USER**************** -->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a style="color:lightseagreen;"class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">HOME</a>
            <a class="dropdown-item" href="{% url 'profile' user_id=user.id %}">PROFILE</a>
            <a class="dropdown-item" href="{%url 'new_image'%}">NEW_IMAGE</a>
            
            
            <a class="dropdown-item" href="/logout">LOGOUT</a>
            <div class="dropdown-divider"></div>
           
          </div>
        </li>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
        {% endif %}
        
      </ul>
      <!-- ***********SEARCH FORM********* -->
      <form class="form-inline my-2 my-lg-0"  role="search" action="{%url 'searchuser' %}">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Name" aria-label="Search" name="searchuser">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>  
      </form>
    </div>
  </nav>
  <!-- ****************************************#?? -->
</body>
</html>