{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
{% include "navbar.html" %}


 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img src="{{profile.profile_pic.url}}"  class="imgs" alt=""> <h5>{{profile.bio}}</h5>
  </div>
  <div class="card">
    <form method = "post" enctype="multipart/form-data"> 
      {% csrf_token %} 
      {% bootstrap_form form%}
      <input type="submit" class="btn btn-success btn-lg" value="Post"> 
  </form> 

  </div>
    
 
{% endblock %}