



{%extends 'base.html'%}
{% load bootstrap4 %}
{%block styles%}
{%bootstrap_css%}
{%endblock%}

{% block content %}
{{block.super}}
{% include "navbar.html" %}
<div class="container">
    <h1>USERS PROFILE</h1>
    {%for images in image%}
    <div class="card" style="width: 18rem;">
        <img src="{{images.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2> <b>{{images.image_name}}</b></h2>  
          <p class="card-text">{{images.image_caption|safe}}</p>
        </div>
      </div>
    
      {%endfor%}   
</div>

  

  {% endblock %}
  